@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client
<h4>Add a Client!</h4>
@using (Html.BeginForm())
{ 
    @Html.Hidden("StylistId", (int)ViewBag.StylistId)
    @Html.LabelFor(model => model.ClientName)
    @Html.TextBoxFor(model => model.ClientName)
    @Html.LabelFor(model => model.ClientDetails)
    @Html.TextBoxFor(model => model.ClientDetails)
    <input type="submit" value="Add new Client" />
}
<br>
<p>@Html.ActionLink("Show all Stylists", "Index","Stylists")</p>
<p>@Html.ActionLink("Go Home","Index","Home")</p>