@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<h1>@Model.ClientName</h1>
<p>Details: @Model.ClientDetails</p>
<br>
<p>Assigned to stylist #@Model.Stylist.StylistId : @Model.Stylist.StylistName</p>
<br>
<p>@Html.ActionLink("Edit Client","Edit", "Clients", new {id = Model.ClientId})</p>
<p>@Html.ActionLink("Delete Client","Delete", "Clients", new {id = Model.ClientId})</p>
<br>
<p>@Html.ActionLink("Go Back to Stylist","Details","Stylists",new {id = Model.StylistId})</p>
<p>@Html.ActionLink("Go Home","Index","Home")</p>